@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@font-face {
    font-family: integral-cf;
    src: url(Fontes/integral-cf-regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    width: 100%;
    font-size: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

/* HEADER */

.cabecalho {
    background-color: #89CEB4;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-imagem {
    height: 41px;
}

.menu {
    display: flex;
    gap: 27px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li a {
    position: relative;
    text-decoration: none !important;
    border-bottom: 3px solid transparent;
    transition: all ease-in-out;
}

nav ul li a:after {
    content: "";
    position: absolute;
    text-decoration: none !important;
    background-color: #000;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: .3s;
}

nav ul li a:hover {
    color:rgb(66, 65, 65); 
    text-decoration:none; 
    cursor:pointer; 
}

nav ul li a:hover:after {
    width: 100%;
    text-decoration: none !important;
}

.cabecalho-menu-item {
    text-decoration: none;
    font-family: Sora;
    font-weight: 400;
    color: black;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 3px;
}

/* HOME */

.home {
    width: 100%;
    height: auto;
}

.frase-fundo {
    margin-top: 170px;
    margin-right: 752px;
    margin-bottom: 170.39px;
    margin-left: 82px;
}

/* SEU MENTOR*/

.about-me {
    width: 100%;
    padding: 85px 0;
    background-color: #ffffff;
    display: flex;
    position: relative;
}
 
.poligon01 {
    position: absolute;
    top: -100px;
    left: -230px;
    transform: scale(.5, .5) rotate(30deg);
}

.poligon02 {
    position: absolute;
    width: 147px;
    left: 300px;
    top: 580px;
    transform: rotate(16.5deg);   
}

/* ----POLIGONO GRANDE ROTATE---- */
.rotatePoligon {
    display: none;
    position: absolute;
    width: 700px;
    transform: translate(850px, -70px);
} 
/* ----POLIGONO GRANDE ROTATE---- */

.container-textos {
    width: 50%;
    padding: 0 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title-seu-mentor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-seu-mentor::after {
    content: '';
    width: 300px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    display: block;
    margin: 3px auto;
}

.title-seu-mentor h1 {
    font-family: Sora;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    font-family: Sora;
}

.texto p {
    text-align: end;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 200;
    font-size: 23px;
}

.texto h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.texto h2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
}

.icons-social {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icons-social img {
    width: 35px;
}

.container-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    position: absolute;
    width: 365px;
    border-radius: 40px;
    border: 10px solid #8DCFB4;
    filter: drop-shadow(8px 8px 9px rgba(0, 0, 0, 0.3));
}

/* PLANOS */

.fundo-tudo {
    width: 100%;
    display: flex;
    background-color: #1F2020;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.fundo-titulo {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
}

.planos-titulo {
    width: 500px;
    display: flex;
}

/* PLANOS - CARDS */

.cards {
    display: flex;
    padding: 0 32px;
    margin: 25px;
}

.card {
    position: relative;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 55px;
    border-radius: 90px;
    padding: 25px;
    width: 369.4px;
    flex-wrap: wrap;
    font-family: Sora;
    box-shadow: 20px 20px 50px -30px #000;
}

.cards :first-child {
    margin-left: 0;
}

.testeFundo {
    z-index: 1;
    position: absolute;
    width: 335px;
    top: 30px;
}

.testeFundo img {
    width: 100%;
    opacity: 0.2;
}

.contentCardZZ {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 45px;
}

.cards .card .icon {
    width: 180px;
    height: 180px;
    margin-bottom: 25px;
}

.cards .card .icon img {
    width: 100%;
}

.card h3 {
   margin-bottom: 25px;
   font-weight: 800;
   font-size: 20px;
}

.cards .card .infos-planos {
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 25px;
}

.btns {
    background-color: #063825;
    padding: 1rem 2.5rem;
    border-radius: 32px;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Sora;
    font-weight: 800;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    background: linear-gradient(to right,#89CEB4, #E1AE33 );
}

.card .btns:hover {
    background: linear-gradient(to left,#89CEB4, #E1AE33 );
    font-weight: normal;
    text-decoration: none;
    color: #000;
}


/* CONTATO */
.contato-fundo {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
}

.container-01-content {
    width: 50%;
}

.contato-titulo {
    margin-left: 105px;
    margin-top: 25px;
    width: 455px;
    height: 159px;
}

.bloco-conteudo {
    display: flex;
    margin-left: 105px;
    margin-bottom: 50px;
}

.icon-contato {
    width: 56px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 7px;
    margin-right: 20px;
}

.texto-icon {
    display: flex;
    flex-direction: row;
}

.container-infos h3 {
    font-family: Sora;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    margin-top: 7px;
    margin-bottom: 20px;
}

.container-infos h3:last-child {
    margin-top: 25px;
    margin-bottom: 0px;
}

.container-02-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-02-logo img {
    transform: scale(.9);
}

/* RODAPÉ */

.footer {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: integral-cf;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu2 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.cabecalho-menu-item2 {
    color: #fff;
    font-family: Sora;
    font-weight: 400;;
    font-size: 20px;
    line-height: 24px;
}

.footer a {
    color: #fff;
    font-family: Sora;
    font-weight: 600;
    text-decoration: none;
}

.arrowIcon {
    transform: scale(.7);
}